
.DS_Store
.AppleDouble
.LSOverride
._*
.Trash-*

target/
*.jar
*.war
*.ear
*.class
.mvn/wrapper/maven-wrapper.jar

application-local.properties
application-local.yml

__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
pip-log.txt
.pytest_cache/

build/
.pio/
*.bin
*.elf
*.hex
*.o
*.a
*.uf2

*.ino.hex
*.ino.bin
*.ino.elf
*.ino.map


.idea/
*.iml
.vscode/
*.swp

*.log
*.sqlite
*.db
mysql-data/